@charset "UTF-8";

body{
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
h1{
    color: coral;
    text-align: center;
    
}
h2{
    color: blueviolet;
}
p{
    text-align: justify;
}