@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;;
}

body{
    background-image: linear-gradient(to right, #DFD7B2, #F2DCC2, #D1CCAF);
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6C786B;
    text-align: center;
    text-shadow: 1px 1px 2px #474e4686;
}

h2{
    color: #D2B88E;
}

p{
    text-align: justify;
    font-size: 15px;
}